@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');

*, *::after ,*::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    transition: 300ms;
}

a{
    text-decoration: none;
    color: darkgreen;
}

img {
    width: 100%;
}

.btn{
    padding: 10px 20px;
    border-radius: 15px;
}

.btn-primary {
    color: white;
    background: rgb(27, 148, 27);
}

a:hover{
    opacity: 0.9;
}
body{
    /* background: rgb(235, 241, 235); */
    background: linear-gradient(rgb(235, 241, 235) 0%, white 30%);
    width: 1140px;
    margin: auto;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 120px;
    height: 25px;
}

.nav-item{
    padding: 0 15px;
    /* Here we changed the position of an anker tag in nav bar beacause we used absolute position while creating after element */
    position: relative;
}

.nav-item::after{
    /* Now we will give it 50% width which it would be related to width of .nav-item*/
    width: 0;
    /* Now the height we have to initialize it with small value to let the nav-item readable */
    height: 2px;
    /* Now the background to color the line */
    background: darkgreen;
    left: 50%;
    bottom: -10px;
    position: absolute;
    content: '';
    transform: translateX(-50%);
}

.nav-item:hover::after{
    width: 50%;
}